<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <div id="branding">
            {% block branding %}{% endblock %}
        </div>
        <div id="user-tools">
            <a href="/admin">Управление</a> /
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>